* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}
.container {
  min-width: 100vw;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
:root {
  --background-color: #e1e4e8;
  --about-background-color: #cbd8df;
  --events-contact-background-color: #fefefe;
  --gallery-background-color: #dee6e9;
  --footer-background-color: #a8aaab;
  --contact-form-text-border-color: #8f8f8f;
  --hover-color: #0f9b9b;
  --brand-font: "Lemon", serif;
  --heading-font: "Abhaya Libre", serif;
  --body-font: "DM Sans", sans-serif;
}
.hidden {
  opacity: 0;
  transition: all ease-in 0.7s;
}
.show {
  opacity: 1;
}
header section {
  display: block;
}

div.brand-sidebar {
  background-color: var(--background-color);
  justify-content: center;
}

h1.navbar-brand {
  text-transform: uppercase;
  font-family: var(--brand-font);
  font-size: 1em;
}
img.header-image {
  width: 100%;
}
nav.hideOnMobile {
  height: 50px;
}
nav.navbar {
  background-color: var(--background-color);
  box-shadow: 3px 3px 5px rgba(6, 6, 6, 0.1);
  display: block;
  margin: 0 auto;
}
ul.navbar-links {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
ul.navbar-links li a {
  color: #000;
  font-family: var(--body-font);
  font-size: 0.8em;
  font-weight: 600;
  padding: 1px 4px;
  position: relative;
  transition: all ease-in-out 0.3s;
}
ul.navbar-links li a:hover {
  color: var(--hover-color);
  font-size: 0.78em;
  padding: 1px 4.5px;
}
ul.navbar-links li a:after,
div.gallery-page a:after,
button.send-btn:after {
  content: "";
  position: absolute;
  transform: scaleX(0);
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--hover-color);
  transform-origin: bottom right;
  transition: transform ease-in-out 0.5s;
}
ul.navbar-links li a:hover:after,
div.gallery-page a:hover:after,
button.send-btn:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
div.menu-icon {
  display: none;
}
#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgb(225, 228, 232, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0px 10px rgba(6, 6, 6, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#sidebar li,
#sidebar a {
  width: 100%;
}
#sidebar a:hover {
  color: var(--hover-color);
  font-size: 0.8em;
}
#side-navbar svg:hover {
  fill: var(--hover-color);
}
#sidebar-nav {
  display: none;
}
section {
  text-align: center;
  display: grid;
  place-items: center;
}
h2 {
  font-family: var(--heading-font);
}
h2.heading {
  padding-top: 20px;
  font-size: 1.3em;
  font-weight: 700;
}
p {
  font-family: var(--body-font);
  font-size: 0.8em;
  line-height: 25px;
}
section.about-section {
  background-color: var(--about-background-color);
}
div.about-heading h2 {
  color: #307f7f;
}
div.event-container,
div.gallery-container {
  width: 85%;
}
section.events-section,
section.contact-section {
  background-color: var(--events-contact-background-color);
}
div.title {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2.sub-heading {
  font-size: 0.85em;
  font-weight: 800;
  margin-top: 10px;
}
div.event-container {
  padding: 20px 8px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
div.event-container::-webkit-scrollbar {
  display: none;
}
div.event {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
}
div.image {
  position: relative;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
img.event-image {
  height: 100%;
  width: 95%;
  object-fit: cover;
}
p.details {
  font-size: 0.7em;
}
.pre-btn,
.nxt-btn {
  border: none;
  position: absolute;
  margin: 5px;
  cursor: pointer;
  width: 25px;
  height: 35%;
  background-color: var(--events-contact-background-color);
}
.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

section.gallery-section {
  background-color: var(--gallery-background-color);
}
div.gallery-heading h2 {
  color: var(--hover-color);
}
div.gallery-container {
  margin: auto;
  padding: 30px 10px 10px;
}
img.gallery-image {
  padding-bottom: 15px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
img.gallery-image:hover {
  opacity: 0.7;
}
div.gallery-page a {
  color: var(--hover-color);
  font-family: var(--body-font);
  font-size: 0.8em;
  position: relative;
  transition: all ease-in-out 0.3s;
}
h3.sub-heading {
  font-family: var(--body-font);
  font-size: 1em;
  font-weight: 700;
}

div.contact-form {
  border-radius: 12px;
  box-shadow: 5px 2px 8px rgb(215, 215, 215, 0.5);
  width: 70%;
  max-width: 520px;
  background-color: var(--background-color);
}
form {
  display: grid;
  width: 75%;
}
div.aside {
  display: none;
}
h3.sub-heading,
div.main h2,
div.contact-info,
hr.horizontal {
  color: var(--contact-form-text-border-color);
}
p.contact-info strong,
div.phone-numbers p {
  font-size: 0.6em;
}
div.phone-numbers p {
  padding-top: 2px;
}
form input,
form textarea {
  padding: 5px;
  font-family: var(--body-font);
  font-size: 0.7em;
  outline: none;
  line-height: 30px;
  background: none;
  border: none;
  border-bottom: 1px solid var(--contact-form-text-border-color);
  transition: border-color 0.5s;
}
form input:focus,
form textarea:focus {
  border-bottom-color: #0e0e0e;
}
button.send-btn {
  margin: 10px auto;
  background: none;
  border: none;
  cursor: pointer;
  font-family: var(--body-font);
  font-size: 1em;
  font-weight: 700;
  position: relative;
  transition: all ease-in-out 0.3s;
  color: var(--contact-form-text-border-color);
}
button.send-btn:hover {
  color: var(--hover-color);
}
footer {
  background-color: var(--background-color);
  display: grid;
  place-items: center;
}
div.social a {
  color: #000;
  padding: 4px 8px;
  margin: 10px 12px;
  border-radius: 50%;
  background-color: #c2c1c16e;
  transition: all ease-in-out 0.2s;
}
div.social a:hover {
  background: none;
  color: var(--hover-color);
}
p.brand strong {
  font-size: 0.8em;
}
@media (max-width: 479px) {
  nav.hideOnMobile {
    display: none;
  }
  div.menu-icon {
    display: flex;
  }
  div.brand-sidebar {
    justify-content: space-between;
    padding: 0 10px 0 15px;
  }
  div.brand-sidebar h1 {
    font-size: 0.6em;
    text-transform: capitalize;
  }
  ul.navbar-links li a {
    line-height: 50px;
    padding: 0 8px;
  }
  div.event {
    flex: 0 0 100%;
    height: 550px;
  }
}
@media (max-width: 412px) {
  #sidebar {
    width: 100%;
  }
}
@media (min-width: 576px) {
  div.contact-form {
    margin-top: 20px;
  }
  div.main-aside {
    display: flex;
    padding-top: 10px;
  }
  h3.sub-heading {
    display: flex;
    justify-content: center;
  }
  div.main {
    width: 55%;
  }
  div.aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
  }
  div.vertical-line {
    width: 5%;
    height: 250px;
    border-left: 1px solid var(--contact-form-text-border-color);
  }
  form {
    width: 100%;
  }
}
