* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

div.container-fluid {
  max-width: 100vw;
  overflow: hidden;
  height: 100vh;
}
:root {
  --main-color: #000000;
  --background-color: #ffffff;
  --hero-footer-background-color: #eef1f3;
  --contact-form-text-border-color: #808080;
  --hover-color: #ea2027;
  --heading-font: "Montserrat", sans-serif;
  --body-font: "Open Sans", sans-serif;
}
.hidden {
  opacity: 0;
  transition: all ease-in 1s;
}
.show {
  opacity: 1;
}
#active,
.current {
  color: var(--hover-color);
}
section.events-section,
section.gallery-section,
section.contact-section {
  margin: 24px 8px 24px 48px;
}
div.hero {
  background: var(--hero-footer-background-color);
}
div.content,
div.about-image {
  height: 65vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: animate 30s infinite ease-in;
}

@keyframes animate {
  0% {
    background-image: url(/media/images/2017-toyota-corolla-le-cvt-toyota-camry-2017-kuwait-1237924.png);
  }
  20% {
    background-image: url(/media/images/2018-toyota-corolla-le-2018-honda-civic-sedan-1187679.png);
  }
  40% {
    background-image: url(/media/images/new-toyota-corolla-426166.png);
  }
  60% {
    background-image: url(/media/images/2019-nissan-sentra-2015-toyota-corolla-side-view-1238381.png);
  }
  80% {
    background-image: url(/media/images/2017-toyota-corolla-le-genesis-g80-side-view-1237927.png);
  }
  100% {
    background-image: url(/media/images/2017-toyota-corolla-le-cvt-toyota-camry-2017-kuwait-1237924.png);
  }
}
div.logo-navbar {
  width: 100vw;
  background-color: var(--background-color);
  align-items: center;
  justify-content: space-between;
  padding: 5px 0 5px 10px;
}
div.brand,
div.contact-info {
  padding-left: 5vw;
  margin: auto;
  text-align: start;
  font-family: var(--heading-font);
}
h1.brand-name {
  color: var(--main-color);
  font-size: 1.2em;
  font-weight: 700;
}
h4.slogan {
  font-size: 0.9em;
  color: var(--contact-form-text-border-color);
}
ul.hideOnMobile {
  padding-bottom: 10px;
}
ul.navbar-links,
ul.gallery-links {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
ul.navbar-links li a {
  padding-bottom: 22px;
  color: var(--main-color);
  font-family: var(--heading-font);
  font-size: 0.8em;
  font-weight: 600;
  position: relative;
  transition: all ease-in-out 0.3s;
}
ul.navbar-links li a:hover {
  color: var(--hover-color);
}
ul.hideOnMobile li a::after,
div.events-page-link a::after,
div.gallery-page-link a::after,
button::after {
  content: "";
  position: absolute;
  transform: scaleX(0);
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--hover-color);
  transform-origin: bottom right;
  transition: transform ease-in-out 0.5s;
}
ul.hideOnMobile li a:hover::after,
div.events-page-link a:hover::after,
div.gallery-page-link a:hover::after,
button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
div.menu-icon {
  display: none;
}
#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgb(225, 228, 232, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0px 10px rgba(6, 6, 6, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#sidebar li {
  margin: 10px;
}
#sidebar li,
#sidebar a {
  width: 100%;
}
#sidebar svg {
  fill: var(--main-color);
}
#sidebar svg:hover {
  fill: var(--hover-color);
}
section {
  background-color: var(--background-color);
}
h2 {
  font-family: var(--heading-font);
}
h2.heading {
  color: var(--hover-color);
  padding-top: 20px;
  font-size: 2em;
  font-weight: 800;
}
p {
  color: var(--main-color);
  font-family: var(--body-font);
  font-size: 0.85em;
  font-weight: 550;
  line-height: 25px;
}
p.about {
  margin: 20px auto 0;
}
h3.about-sub-heading,
h3.events-sub-heading {
  font-size: 1.5em;
  font-family: var(--heading-font);
  font-weight: 700;
}
div.socials {
  gap: 2em;
}
div.social a {
  color: #000;
  padding: 6px 10px;
  border-radius: 50%;
  background-color: #e3e2e2;
  transition: all ease-in-out 0.2s;
}
div.social a:hover {
  background-color: var(--hero-footer-background-color);
}

h2.sub-heading {
  font-family: var(--heading-font);
  font-size: 0.7em;
  font-weight: 700;
  margin-top: 10px;
}
div.event-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}
div.event {
  height: 200px;
  flex: 1 1 0;
  background-color: var(--hero-footer-background-color);
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
div.image {
  position: relative;
  height: 50%;
  margin-top: 10px;
  border-radius: 8px;
  transition: 1.5s ease-in-out;
}
#image-1 {
  background: url(/media/images/new-2019-volkswagen-jetta-2019-toyota-corolla-se-1155959.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#image-2 {
  background: url(/media/images/new-2020-toyota-corolla-le-2020-toyota-corolla-le-1155982.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#image-3 {
  background: url(/media/images/Toyota\ Corolla\ E140\ -\ Toyota\ Corolla\ 2010.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#image-4 {
  background: url(/media/images/2018-toyota-corolla-xse-toyota-corolla-2019-sedan-1238180.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
div.event-title {
  text-align: center;
  border-radius: 10px;
  padding: 25px 8px 5px;
  position: relative;
  transition: 1.5s ease-in-out;
}
div.event:hover div.event-title {
  bottom: -100%;
}
div.event:hover div.image {
  height: 100%;
}
div.event-details {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  color: var(--main-color);
  position: absolute;
  background-color: rgb(225, 228, 232, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  padding: 4px 4px 4px 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1.5s ease-in-out;
}
div.event:hover div.event-details {
  right: 0;
}
p.details {
  font-size: 0.7em;
}
div.gallery-heading h2 {
  color: var(--hover-color);
}
div.media-container {
  padding: 0;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
div.media {
  height: 220px;
  width: 95%;
  border-radius: 8px;
  transition: 0.6s ease-in-out;
}
#media-1 {
  background: url(/media/images/img-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#media-2 {
  background: url(/media/images/img-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#media-3 {
  background: url(/media/images/img-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#media-4 {
  background: url(/media/images/img-4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
div.full-view {
  width: 95%;
  height: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  background-color: rgba(24, 24, 24, 0.1);
  backdrop-filter: blur(3px);
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: 0.6s ease-in-out;
}
div.media-container:hover div.full-view {
  height: 100%;
}
a.image-link,
a.video-link {
  color: var(--main-color);
  font-size: 1.2em;
  transition: all 0.1s ease-in-out;
}
a.image-link:hover,
a.video-link:hover {
  font-size: 1.18em;
}
div.gallery-page-link,
div.events-page-link {
  padding: 20px;
}
div.gallery-page-link a,
div.events-page-link a {
  color: var(--main-color);
  font-family: var(--heading-font);
  font-size: 1.1em;
  font-weight: 600;
  position: relative;
  transition: all ease-in-out 0.3s;
}
div.gallery-page-link a:hover,
div.events-page-link a:hover {
  color: var(--hover-color);
}
h3.contacts-heading {
  font-family: var(--heading-font);
  font-size: 1.2em;
  font-weight: 700;
}
div.contacts-image {
  height: 40vh;
  position: relative;
  background: url(/media/images/Toyota\ Corolla\ 2018\ Le\ Slate\ Metallic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
p.phone {
  font-size: 1em;
  line-height: 30px;
  font-weight: 600;
  font-family: var(--heading-font);
  letter-spacing: 0.05em;
}
footer {
  background-color: var(--hero-footer-background-color);
  display: grid;
  place-items: center;
  width: 100vw;
}
p.brand strong {
  font-size: 0.8em;
}
/*about page*/
div.about-intro,
div.events-intro,
div.contacts-intro {
  margin: auto;
  padding: 20px 40px;
}
div.tradition-history-section {
  margin: auto;
  width: 95%;
}
div.about-hero,
div.events-hero,
div.contacts-hero,
div.gallery-hero {
  background-color: var(--hero-footer-background-color);
  padding-bottom: 40px;
}
div.tradition-history {
  padding: 50px 25px;
}
h4.section-heading {
  font-family: var(--heading-font);
  font-weight: 800;
  font-size: 2em;
  color: var(--main-color);
}
h4.section-heading span {
  color: var(--hover-color);
}
div.tradition-history p {
  padding-right: 25px;
}
div.tradition-history-image {
  height: 50vh;
  position: relative;
  background: url(/media/images/new-2020-toyota-corolla-2020-toyota-corolla-se-white-1155986.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* events-page*/
div.event-image,
div.contact-image,
div.gallery-image {
  height: 60vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: change 20s infinite ease-in;
}

@keyframes change {
  0% {
    background-image: url(/media/images/2017\ Toyota\ Corolla\ Se.png);
  }
  50% {
    background-image: url(/media/images/2018-toyota-corolla-xse-toyota-corolla-2019-sedan-1238180.png);
  }
  100% {
    background-image: url(/media/images/2017\ Toyota\ Corolla\ Se.png);
  }
}
div.event-date-details {
  width: 90%;
  border-radius: 10px;
  border: 1px solid rgb(215, 215, 215, 0.3);
  margin: 40px auto;
  background-color: #89888841;
  padding: 30px 10px 15px;
  transition: all 0.5s ease-in-out;
}
div.event-date-details:hover {
  background-color: var(--hero-footer-background-color);
  box-shadow: 2px 2px 5px rgb(215, 215, 215, 0.4);
}
div.date {
  margin: auto;
  padding: 20px;
  text-align: center;
}
div.date h2 {
  font-size: 0.9em;
  line-height: 30px;
}
div.details h5 {
  color: var(--main-color);
  font-family: var(--heading-font);
  font-size: 0.8em;
  font-weight: 600;
}
div.details p {
  font-size: 0.8em;
}
div.details p.schedule {
  letter-spacing: 0.02em;
}
p.schedule strong {
  font-family: var(--heading-font);
  font-size: 1em;
  letter-spacing: 0.04em;
}
/*gallery-page*/
section.gallery-page div.gallery-container {
  width: 85%;
  margin: 0 auto 70px;
}
h3.gallery-sub-heading {
  font-size: 1.2em;
  font-family: var(--heading-font);
  font-weight: 600;
}
button.all,
button.images,
button.videos {
  color: var(--main-color);
}
#media-5 {
  background: url(/media/images/img-5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#media-6 {
  background: url(/media/images/img-6.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#media-7 {
  background: url(/media/images/img-7.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#media-8 {
  background: url(/media/images/img-8.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#media-9 {
  background: url(/media/images/img-9.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#media-10 {
  background: url(/media/images/img-10.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#media-11 {
  background: url(/media/images/img-11.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#media-12 {
  background: url(/media/images/img-12.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#media-13 {
  background: url(/media/images/preview-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#media-14 {
  background: url(/media/images/preview-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#media-15 {
  background: url(/media/images/preview-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#media-16 {
  background: url(/media/images/preview-4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#media-17 {
  background: url(/media/images/preview-5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#media-18 {
  background: url(/media/images/preview-6.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#media-19 {
  background: url(/media/images/preview-7.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#media-20 {
  background: url(/media/images/preview-8.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#media-21 {
  background: url(/media/images/preview-9.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#media-22 {
  background: url(/media/images/preview-10.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#media-23 {
  background: url(/media/images/preview-11.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#media-24 {
  background: url(/media/images/preview-12.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*contact-page*/
div.contact-image {
  height: 50vh;
}
div.contact-container {
  margin: 0 20px;
}
h3.contacts-sub-heading {
  font-size: 1.3em;
  font-family: var(--heading-font);
  font-weight: 800;
}
h4.sub-heading {
  font-size: 2em;
  font-family: var(--heading-font);
  font-weight: 800;
}
p.contacts-about,
p.gallery-about {
  margin-top: 20px;
  font-size: 0.95em;
}
h3.sub-heading {
  font-family: var(--body-font);
  font-size: 1em;
  font-weight: 700;
}
form {
  display: grid;
}
p.contact-info strong,
div.phone-numbers p {
  font-size: 0.6em;
}
div.phone-numbers p {
  padding-top: 2px;
}
form input,
form textarea {
  padding: 5px;
  font-family: var(--body-font);
  font-size: 0.7em;
  outline: none;
  line-height: 30px;
  background: none;
  border: none;
  border-bottom: 1px solid var(--contact-form-text-border-color);
  transition: border-color 0.5s;
}
form input:focus,
form textarea:focus {
  border-bottom-color: var(--main-color);
}
button.send-btn {
  color: var(--contact-form-text-border-color);
}
button.send-btn,
button.tab {
  margin: 10px auto;
  background: none;
  border: none;
  cursor: pointer;
  font-family: var(--body-font);
  font-size: 1em;
  font-weight: 700;
  position: relative;
  transition: all ease-in-out 0.3s;
}
button:hover {
  color: var(--hover-color);
}
@media (max-width: 800px) {
  #event-4 {
    display: none;
  }
}
@media (min-width: 768px) {
  div.contact-form {
    padding: 20px 0 20px 50px;
  }
  form {
    width: 90%;
    margin-left: 50px;
  }
}
@media (max-width: 470px) {
  #sidebar {
    width: 100%;
  }
  div.content,
  div.contacts-image {
    height: 45vh;
  }
  h1.brand-name {
    font-size: 1em;
  }
  h4.slogan {
    font-size: 0.6em;
  }
  div.event {
    height: 160px;
  }
  div.event-title {
    padding: 10px 8px 5px;
  }
}
@media (max-width: 576px) {
  ul.hideOnMobile {
    display: none;
  }
  div.logo-navbar {
    padding-right: 0;
  }
  nav.navbar {
    justify-content: end;
  }
  div.menu-icon {
    display: flex;
    fill: var(--hover-color);
  }
  #sidebar li a {
    line-height: 20px;
  }
  section.events-section,
  section.gallery-section,
  section.contact-section {
    margin: 24px 8px 24px 30px;
  }
  #event-3 {
    display: none;
  }
  div.media {
    height: 300px;
  }
  /*about-page*/
  div.tradition-history-section {
    width: 90%;
  }
  div.tradition-history p {
    padding-right: 0;
  }
  /*contact-page*/
  div.contact-container {
    margin: 50px;
  }
}
@media (min-width: 576px) {
  div.event-details {
    padding: 20px;
  }
  div.brand,
  div.contact-info {
    padding-left: 6vw;
  }
  h1.brand-name {
    font-size: 1.8em;
  }
  div.event-container {
    display: flex;
    flex-wrap: wrap;
  }
  div.event {
    height: 190px;
  }
  div.event-title {
    padding: 15px 8px 5px;
  }
  /*about-page */
  div.about-intro,
  div.events-intro {
    margin: auto;
    padding: 20px;
  }
  /*events-page*/
  div.event-date-details {
    width: 80%;
  }
  /*contact-page*/
  div.contact-container {
    margin: 40px 80px;
  }
}
